/QW_50.txt
/QW_25.txt
/QW_85.txt
/QW_50.png
/QW_20.png
/QW_55.txt
/QW_80.txt
/QW_100.txt
/QW_20.txt
/QW_70.png
/QW_30.txt
/QW_95.txt
/QW_30.png
/QW_90.txt
/QW_60.txt
/QW_90.png
/QW_5.txt
/QW_60.png
/QW_15.txt
/QW_65.txt
/QW_70.txt
/QW_35.txt
/QW_40.png
/QW_10.png
/QW_40.txt
/QW_10.txt
/QW_45.txt
/QW_100.png
/QW_49.txt
/QW_80.png
/QW_75.txt
/CRW_100.png
/CRW_40.png
/CRW_70.png
/CRW_30.png
/CRW_80.png
/CRW_20.png
/CRW_60.png
/CRW_90.png
/CRW_10.png
/CRW_50.png

# Created by .ignore support plugin (hsz.mobi)
